.contact {
    background-image: url("../../assets/background-contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
    background-attachment: fixed;
  }
  
  @media (max-width: 768px) {
  }
  